<!DOCTYPE html>

{% macro render_item(item) %}
    <div class='{{ item.classes|join(' ') }}'>
        {{ item.text }}
        {% for sub in item.subcommands %}
            {{ render_item(sub) }}
        {% endfor %}
    </div>
{% endmacro %}

<html>

<head>
    <title>Server status page</title>
    <style>
        .inlinecontents * {
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Server status</h1>
    <h2>Free disk space</h2>
    {% for item in render_items %}
        {{ render_item(item) }}
    {% endfor %}
</body>

</html>
